[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/yankring"]
	path = home/.vim/bundle/yankring
	url = http://github.com/chrismetcalf/vim-yankring.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vim-repeat"]
	path = home/.vim/bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/vim-haml"]
	path = home/.vim/bundle/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "home/.vim/bundle/rvm.vim"]
	path = home/.vim/bundle/rvm.vim
	url = http://github.com/vim-scripts/rvm.vim.git
[submodule "home/.vim/bundle/colorsel.vim"]
	path = home/.vim/bundle/colorsel.vim
	url = http://github.com/vim-scripts/colorsel.vim.git
[submodule "home/.vim/bundle/delimitMate.vim"]
	path = home/.vim/bundle/delimitMate.vim
	url = http://github.com/vim-scripts/delimitMate.vim.git
[submodule "home/.vim/bundle/html-autoclose"]
	path = home/.vim/bundle/html-autoclose
	url = http://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "home/.vim/bundle/jade.vim"]
	path = home/.vim/bundle/jade.vim
	url = http://github.com/vim-scripts/jade.vim.git
[submodule "home/.vim/bundle/bufkill.vim"]
	path = home/.vim/bundle/bufkill.vim
	url = http://github.com/vim-scripts/bufkill.vim.git
[submodule "home/.vim/bundle/vim-supertab"]
	path = home/.vim/bundle/vim-supertab
	url = http://github.com/tsaleh/vim-supertab.git
[submodule "home/.vim/bundle/vim-cucumber"]
	path = home/.vim/bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/gist-vim"]
	path = home/.vim/bundle/gist-vim
	url = http://github.com/mattn/gist-vim.git
[submodule "home/.vim/bundle/specky"]
	path = home/.vim/bundle/specky
	url = http://github.com/vim-scripts/Specky.git
[submodule "home/.vim/bundle/camelcasemotion"]
	path = home/.vim/bundle/camelcasemotion
	url = http://github.com/vim-scripts/camelcasemotion.git
[submodule "home/.vim/bundle/taglist.vim"]
	path = home/.vim/bundle/taglist.vim
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "home/.vim/bundle/tailminusf"]
	path = home/.vim/bundle/tailminusf
	url = http://github.com/vim-scripts/TailMinusF.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = http://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/markdown-preview.vim"]
	path = home/.vim/bundle/markdown-preview.vim
	url = git://github.com/mkitt/markdown-preview.vim.git
[submodule "home/.vim/bundle/snipmate.vim"]
	path = home/.vim/bundle/snipmate.vim
	url = git://github.com/mkitt/snipmate.vim.git
[submodule "home/.vim/bundle/browser-refresh.vim"]
	path = home/.vim/bundle/browser-refresh.vim
	url = git://github.com/mkitt/browser-refresh.vim.git
